body{
	background-color: #f6ac00;
}
.swiper-container{
 height: 510px;
}
.width1188{
	width: 1188px;
	margin: 0 auto;
}
.top{
	width: 100%;
    height:115px;
}
	.head{
		height: 115px;
		width: 1262px;	
	}
	.head .logo-l{
		float: left;
		width: 306px;
	}
	.head img{
		vertical-align: top;	
	}
	.head .logo-r{
		padding-top: 10px;
	}
	.head .logo-r li{
		float: left;
		display: inline-block;
	}
	.head .logo-r li a{
		text-decoration: none;
	}
	.text1{
		font-size: 18px;
	    color: #010101;
	    padding-top: 20px;
	    text-align: center;
	}
	.text1-f{
		font-size: 18px;
	    color: #010101;
	    padding-top: 20px;
	    padding-left: 35px;
	}
	.text2{
		display: inline-block;
	    padding: 5px 25px;
	    font-size: 12px;
	    color: #010101;
	}
	.head .logo-r li a:hover .text2{
		border-bottom: 2px solid #fff;
	}
	.tel{
		float: right;
	    padding-left: 25px;
	    background: url(images/tel1.png) -8px 22px no-repeat;
	    font-family: 'Microsoft Yahei';
	    padding-top: 16px;
	    text-indent: 1em;
	}
	.tel span{
		font-size: 12px;
	    font-family: Microsoft Yahei;
	    color: #333;
	    text-align: left;
	    display: block;
	}
	.tel p{
	    color: #333;
	    line-height: 1;
	    font-family: Microsoft Yahei;
	    font-size: 16px;
	    margin: 16px 0;
	}




.display{
	width: 100%;
	height: 510px;
    background-color: #f6ac00;
}
	.display img{
		position: absolute;
	    left: 50%;
	    margin-left: -960px;
	    width: 1920px;
	    max-width: 1920px;
	    border-bottom: 10px solid #7B674C;  
	} 




.text{
	width: 100%;
	height: 447px;
	background-color:#f6ac00;
}
    .title-text{
	    text-align: center;
	    font-size: 20px;
	    font-weight: bold;
	    line-height: 35px;
	    padding-top: 10px;
    }
    .main-title{
    	font-size: 18px;
	    font-weight: bold;
	    border-bottom: 4px solid #EECFB3;
	    line-height: 28px;
	    width: 100px
    }
    .main-l{
    	float: left;
    	width: 452px;	
    }
    .text3{
    	text-align: left;
	    line-height: 25px;
	    margin-top: 10px;
    }
    .main-r{
    	float: right;
    	width: 442px;
    }
    .main-r img{
    	width: 210px;
        height: 185px;
        vertical-align: top;
        padding: 4px;
        border: 0;
    }




.photo{
	height: 495px;
	background: url(images/cpbj_02.jpg) top center no-repeat;
}
	.title-text1{
		text-align: center;
	    font-size: 20px;
	    font-weight: bold;
	    line-height: 35px;
	    padding-top: 56px;
	    color: #fefbfb;
	}
	.picture {
	    width: 930px;
	    height: 290px;
	    position: relative;
			margin: 30px auto;
	}
	.picture img{
		width: 285px;
		height: 260px;
		margin: 10px;
	}




.nav{
	width: 100%;
	height: 443px;
	background-color:#f6ac00;
}
	.join{
		height: 443px;
	}
	.title-text2{
		text-align: center;
		padding-top: 50px;
		font-size: 20px;
		font-weight: bold;
		line-height: 35px;
	}
	.title-text2 span{
		padding-left: 20px;
	}
	.main-text ul{
		padding-top: 30px;
		list-style: none;
	}
	.main-text ul li{
		float: left;
		width: 326px;
		margin: 25px;
		text-align: center;
	}
	.b{
		font-weight: bold;
	}
	.tex{
		line-height: 22px;
	}





.news{
    width: 100%;
    height: 290px;
    background-color: #dabb91;
    padding-top: 20px;	
}
	.main-news{
	}
	.newslist-l{
		float: left;
		width: 490px;
	}
	.newslist-l .newstop{
		font-size: 18px;
		line-height: 30px;
		border-bottom: 4px solid #EECFB3;
		margin-left: 15px;
		margin-bottom: 15px;
		width: 100px;
	}
	.time{
		float: right;
		color: black;
	}
	.newslist-l ul li{
		line-height: 35px;
		border-bottom: 1px solid #eecfb3;
		padding-left: 10px;
	}
	.newslist-l ul li a{
		float: left;
		text-decoration: none;
		color: black;
	}
	.newslist-r{
		float: right;
		width: 497px;
		border-bottom:10px;
	}
	.newslist-r .newstop{
		font-size: 18px;
		line-height: 30px;
		border-bottom: 4px solid #EECFB3;
		margin-left: 15px;
		width: 100px;
		margin-bottom: 15px;
	}
	.item{
		padding-top: 5px;
	}
	.item-t img{
		width: 150px;
		height: 95px;
		float: left;
	}
	.item-b{
		padding-top: 20px;
	}
	.item-b img{
        width: 150px;
		height: 95px;
		float: left;
	}
	
	.text5{
		float: left;
		font-size: 16px;
    	line-height: 35px;
    	margin-left: 10px;
	}
	.text4{
		width: 290px;
		font-size: 12px;
		color: #939393;
		line-height: 20px;
		padding-right: 10px;
		margin-left: 10px;
		float: left;
	}





.footer{
	width: 100%;
	height:220px;
	background-color: #f6ac00;
}
	.footer-top{
		height: 40px;
		background-color: #f6ac00; 
	}
	.list{
		height: 40px;
		color: black;
		line-height: 40px;
        text-align: center;
	}
	
	.list ul li{
		list-style: none;
		display: inline-block;
	}
	.list ul li a{
		text-decoration: none;
		color: #4f4f4f;
		font-size: 14px;
		padding: 0 25px;
	}
	.list ul li a:hover{
		font-weight: bold;
		color: black;
	}



	.footer-bottom{
		height: 180px;
		background-color: #c7852b;
	}
	.contact{
		height: 41px;
		background-color: #c7852b;
		text-align: center;
		
	}
	.contact img{
		padding-top: 10px;
	    vertical-align: bottom;
	    padding-left: 40px;
	    width: 22px;
	    height: 22px;
	}
	.contact .QQ{
	    font-size: 16px;
	    color: #fff;
		padding: 5px 5px;
			
	}
	.contact .phone{
  		font-size: 16px;
  		color: #fff;
	}
	.href{
		height: 40px;
		background-color: #c7852b;
		text-align: center;
		color: #fff;
		padding-top: 15px;
	}
	.href a{
		text-decoration: none;
		font-size: 15px;
		color: #4f4f4f;
	}
	.href a:hover{
		font-weight: bold;
		color: black;
	}
	.copyright{
		color: #fff;
		text-align: center;
	}
	.copyright img{
		padding-left: 15px;
	}
